<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}

  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  
  <style>
    body, html {
      height: 100%;
      font-family: "Calibri", "Inconsolata", sans-serif;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 10px;
      padding: 5px;
      height: auto;
    }
    
    </style>

  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
  <script src="{% static 'jquery/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'jquery/js/bootstrap.min.js' %}"></script>
 
  <link rel="stylesheet" href="{% static 'css/style.css' %}" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/all.css' %}" crossorigin="anonymous">

  <title>
    {% block title %}Hello feedback portal{% endblock %}
  </title>
  {% block head %} {% endblock %} 
</head>

<body>

  <input type="checkbox" id="check">
  <!--header area start-->
  <header>
    <!-- <div style="background-image: url({% static 'images/banner2.png' %});background-repeat: no-repeat;background-position: center;" > -->
    <!-- <img src={% static 'images/banner2.png' %} alt="Paris" class="center" height=50px></> -->
    <!-- <div class="cover"> -->
    <label for="check">
      <i class="fas fa-sliders-h" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
      <h3>Customer Feedback <span>Portal</span></h3>
    </div>
    
  </header>
  <!--header area end-->

  {% block sidebar %}
  <!--mobile navigation bar start-->
  
  <!--mobile navigation bar end-->

  <!--sidebar start-->
  <div class="sidebar">
    <a href="{% url 'index' %}"><i class="fa fa-home fa-fw" aria-hidden="true"></i><span>Home</span></a>

   
    <a href="{% url 'selcircle' %}"><i class="fas fa-chart-line"></i><span>UPC report</span></a>    
    <a href="{% url 'feedback' %}"><i class="fas fa-chart-bar"></i><span>Feedback report</span></a>
    <br> <br>
    <a href="#"><font face="Calibri" color="#5C374C"><i class="fas fa-angle-double-down"></i><b><u><span style="font-size:14px font-family:'Arial narrow' color:red">Update Feedback</u>:</span></b></font></a>
    
    
    <a href="{% url 'searchbycircle' %}"><i class="fas fa-play-circle" aria-hidden="true"></i><span>By Circle</span></a>
    <a href="{% url 'searchbyssa' %}"><i class="fas fa-th" aria-hidden="true"></i><span>By SSA</span></a>
    <a href="{% url 'searchsingle' %}"><i class="fas fa-mobile-alt" aria-hidden="true"></i><span>By MSISDN</span></a>
    
  </div>
  <!--sidebar end-->
  {% endblock %}

  
  <div class="footer">
    <p><span style="font-family:'Trebuchet MS';">
      Site developed by EZBC Billing <i class="fas fa-copyright"></i>2023.&nbsp;
    </span></p>
  </div>  

 
</body>


</html>