<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include 'feedbacks/includes/messages.html' %}
  {% load static %}

  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  
  
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
  <script src="{% static 'jquery/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'jquery/js/bootstrap.min.js' %}"></script>
 
  <link rel="stylesheet" href="{% static 'css/style.css' %}" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/all.css' %}" crossorigin="anonymous">

  <title>
    {% block title %}SP feedback portal{% endblock %}
  </title>
  {% block head %} {% endblock %} 
</head>

<body>

TEST:  <input type="checkbox" id="check">
  <!--header area start-->
  <header>
    <!-- <div style="background-image: url({% static 'images/banner2.png' %});background-repeat: no-repeat;background-position: center;" > -->
    <!-- <img src={% static 'images/banner2.png' %} alt="Paris" class="center" height=50px></> -->
    <!-- <div class="cover"> -->
    <label for="check">
      <i class="fas fa-sliders-h" id="sidebar_btn"></i>
    </label>
    <div class="right_area">
      <h3>MNP Feedback <span>Portal</span></h3>
    </div>
  </header>
  <!--header area end-->

  {% block sidebar %}
  <a href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i><span>Outside block sidebar</span></a>
  <a href="#"><i class="fas fa-home fa-fw" aria-hidden="true"></i><span>Outside block FAS sidebar</span></a>
  <!--mobile navigation bar start-->
  
  <!--mobile navigation bar end-->

  <!--sidebar start-->
  <div class="sidebar">
    <a href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i><span>Home</span></a>

    {% if user.has_usable_password %}
    <a href="#"><i class="fas fa-lock" aria-hidden="true"></i><span>Change password</span></a>
    {% endif %}
    
    <a href="#"><i class="fas fa-chart-line"></i><span>UPC report</span></a>    
    <a href="#"><i class="fas fa-chart-bar"></i><span>Feedback report</span></a>
    <br> <br>
    <a href="#"><font face="Calibri" color="#5C374C"><i class="fas fa-angle-double-down"></i>
    <b><u><span style="font-size:14px font-family:'Arial narrow' color:red">Update Feedback</u>:</span></b></font></a>
  </div>
  <!--sidebar end-->
  {% endblock %}

<div class="content"> 
  {% block content %}
<a href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i><span>Inside content sidebar</span></a>
<a href="#"><i class="fas fa-home fa-fw" aria-hidden="true"></i><span>Inside content FAS sidebar</span></a>     
  {% endblock %}      
</div>        
  

  <div class="footer">
    <p><span style="font-family:'Trebuchet MS';">
      Site developed by EZBC Billing <i class="fas fa-copyright"></i>2021.&nbsp;
    </span></p>
  </div>  

 


</body>


</html>